@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');


html {
    font-size: 18px;
}

body {
    background-color: #8CAE68;
    color: white;
    font-family: "Martian Mono", monospace;
    margin: 0px;
    /* забираємо стандартні відступи в тега body */
}

body.light-theme {
    background-color: #e6e6e6;
    color: rgb(24, 24, 24);
}

header {
    background: #1E352F;
}

.btn-search {
    border-radius: 30px;
}


.banner {
    width: 100%;
    height: 90vh;
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}


.banner h1 {
    font-size: 3rem;
    text-align: center;
    color: #EEF5DB;
  -webkit-text-stroke: 1px black;
}

/* Стилі карточок взято з 4 уроку 2 модуля (сайт за макетом)  */

.my-card {
    padding: 28px;
    background: transparent;
    transition: .2s linear;
    border-radius: 10px;
    max-width: 350px;
}

.my-card:hover {
    background: #a4d479;
    cursor: pointer;
    transition: .3s linear;
    color: #1E352F;
}

.light-theme .my-card:hover {
    background: #ffffff;

}

.text-my-card {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

.description-card {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 0.7rem;

}

.price-card {
    font-size: 1rem;
    line-height: 1rem;
    /* 120% */
    color: #5a9ac2;
    display: flex;
    gap: 5px;
    align-items: center;
}

.my-card .card-image {
    width: 244px;
    height: 214px;
    object-fit: contain;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.container-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

footer {
    margin-top: 50px;
    background: #709255;
    padding: 25px 50px;
    color: #c8c8c8;

    p {
        margin: 0;
    }
}

.attribution {
    color: #a8a8a8;
    font-size: 12px;
}

.attribution a {
    color: #a8a8a8;
}

#themeToggle {
    background: transparent;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 40px;
    transition: 0.4s transform linear;
    margin: 10px;
    border-color: transparent;
}

#themeToggle:hover {
    transform: scale(1.1);
    transition: 0.4s transform linear;
    box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
}

#themeToggle:active {
    transform: scale(0.9);
    transition-duration: .2s;
}


header.fixed {
    position: fixed;
    /* Фіксоване позиціонування */
    top: 0;
    /* Закріплено зверху */
    width: 100%;
    /* Ширина за всю ширину вікна */
    background: #709255;
    max-width: 100%;
    z-index: 100;
}


/* Кнопка Кошик */
/* Код взято з https://uiverse.io/vinodjangid07/ordinary-swan-71 */

.cart-btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(to left, #8CC084, #C1D7AE);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 0.9em;
    font-family: "Martian Mono", monospace;
    border: none;
    position: relative;
    cursor: pointer;
    transition: .5s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.bell {
    width: 25px;
}


.cart-btn:hover {
    background: linear-gradient(to left, #5c7e56, #7a886e);
}

.cart-btn:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.cart-btn div {
    position: relative;
}
